# Environment variables and secrets
.env
C:\Users\HP\Desktop\Springboot\fitness-microservice\fitness-frontend\.env

# IntelliJ/IDE settings
.idea/
*.iml
*.iws
*.ipr
.settings/
.project
.classpath
.factorypath

# Maven build output
**/target/
*.jar
*.war
*.ear

# Logs
*.log
